body {
    background: #fafafa;
}

.my-container,
.sidebar {
    padding-left: 5%;
    padding-right: 5%;
}

@media (min-width: 640px) {
    .my-container,
    .sidebar {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (min-width: 768px) {
    .my-container,
    .sidebar {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 1024px) {
    .my-container,
    .sidebar {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.story-card {
    padding: 1px;
}

.story-card .MuiAvatar-root {
    width: 60px !important;
    height: 60px !important;
    transition: transform 500ms ease-in-out;
}

.story-card .MuiAvatar-root:hover {
    transform: scale(1.1);
}
